
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-select/dist/css/bootstrap-select.css';
@import '~bootstrap-table/dist/bootstrap-table.css';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table {
    text-align: center;
}

.card-view {
    text-align: left;
}


.only-in-card {
    visibility: hidden;
    display: none;
}

.card-view .only-in-card {
    visibility: visible;
    display:inline;
}

.not-in-card {
    visibility: visible;
    display:inline;
}

.card-view .not-in-card {
    visibility: hidden;
    display: none;
}

.btn-big {
    font-size:80px;
    white-space: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-view .value {
    float: right;
    text-align: right;
}

.card-views:first-child {
    font-size: 20px;
    font-weight: bold;
}

.card-view:nth-child(odd) {
    color:red;
}

.current-lifter {
    border: 3px solid #FFEA58;
    border-radius: 5px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    border: 0px;
    border-radius: 0px;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

table {
    font-size: 20pt;
}

table {
    text-transform: uppercase;
}

td > a {
    color: black;
}

.teamsheader {
    font-size: 30pt;
    background-color: lightgrey;
}

.currentstandings {
    font-size: 30pt;
}

.nextstandings {
    font-size: 30pt;
}
.nextstandingsheader {
    font-size: 40pt;
}

.nextlift {
    font-size: 30pt;
}

.nextlifters {
    font-size: 20pt;
}

.score {
    font-size: 50px;
}
